img{
    width: 3400px;
}
.contant{
    text-align: center;
}
.contant h1{
    font-size: 160px;
    font-weight: 600;
    color: rgb(249 242 242);;
    margin-top: 100px;
    transition: 0.5s;
}
.contant h1:hover{
    -webkit-text-stroke: 2px rgb(249 242 242); ;
    color: transparent;
}
.contant a{
    text-decoration: none;
    display: inline-block;
    color: rgb(249 242 242); 
    font-size: 24px;
    border: 2px solid rgb(249 242 242);
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 4/3){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 4/3){
    .back-video{
        width: 100%;
        height: auto;
    }
}